<form name="contact" method="POST" netlify>
  <label for="name">Imię</label>
  <input type="text" name="name" id="name" autocomplete="name" placeholder="Twoje imię" title="Podaj swoje imię" required>
  <label for="email">Email</label>
  <input type="email" name="email" id="email" autocomplete="email" placeholder="Twój adres email" title="Podany email jest nieprawidłowy." pattern="^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*(\.\w{2,})+$" required>
  <label for="phone">Telefon</label>
  <input type="text" name="phone" id="phone" autocomplete="tel-national" placeholder="Podaj swój numer kontaktowy">
  <label for="message">Wiadomość</label>
  <textarea name="message" id="message" placeholder="Wpisz tutaj swoją wiadomość" rows="7" required></textarea>
  <button type="submit" name="submit">Wyślij wiadomość</button>
</form>
